.book-summary nav ul.summary>li:first-child a {
  display: block;
  position: relative;
  padding: 0 0 0 65px;
  line-height: 38px;
}
.book-summary nav ul.summary>li:first-child a::before {
  content: "";
  background-image: url(../assets/logo.png);
  background-size: 100% 100%;
  width: 45px;
  height: 38px;
  color: black;
  position: absolute;
  left: 10px;
  top: 0;
}
